<h3 class='message'>{{message}}</h3>
<div class='empty'
    {{action 'onHover' 'emptyBg' '' on='mouseEnter'}}
    {{action 'onHover' 'emptyBg' '' on='mouseLeave'}}></div>
<div class='part-container'>
  {{!-- each div represents a bicycle part and displays the name of that part
  on hover, and calls an action to show related videos when clicked --}}
<div class='cables seat-tube-cables'
    {{action 'onHover' 'cableBg' 'Cables' on='mouseEnter'}}
    {{action 'onHover' 'cableBg' '' on='mouseLeave'}}
    {{action 'getVideo' '13'}}></div>
<div class='cables top-cables'
    {{action 'onHover' 'cableBg' 'Cables' on='mouseEnter'}}
    {{action 'onHover' 'cableBg' '' on='mouseLeave'}}
    {{action 'getVideo' '13'}}></div>
<div class='brakes levers' id='levers'
    {{action 'onHover' 'leverBg' 'Brake Levers' on='mouseEnter'}}
    {{action 'onHover' 'leverBg' '' on='mouseLeave'}}
    {{action 'getVideo' '12'}}></div>
<div class='shifting paddles' id='paddles'
    {{action 'onHover' 'paddleBg' 'Shifters' on='mouseEnter'}}
    {{action 'onHover' 'paddleBg' '' on='mouseLeave'}}
    {{action 'getVideo' '9'}}></div>
<div class='bearings headset' id='headset'
    {{action 'onHover' 'headsetBg' 'Headset' on='mouseEnter'}}
    {{action 'onHover' 'headsetBg' '' on='mouseLeave'}}
    {{action 'getVideo' '10'}}></div>
<div class='bearings bb' id='bb'
    {{action 'onHover' 'bbBg' 'Bottom Bracket' on='mouseEnter'}}
    {{action 'onHover' 'bbBg' '' on='mouseLeave'}}
    {{action 'getVideo' '10'}}></div>
<div class='brakes rear-brake' id='rear-brake'
    {{action 'onHover' 'brakeBg' 'Rear Brake' on='mouseEnter'}}
    {{action 'onHover' 'brakeBg' '' on='mouseLeave'}}
    {{action 'getVideo' '12'}}></div>
<div class='brakes front-brake' id='front-brake'
    {{action 'onHover' 'brakeBg' 'Front Brake' on='mouseEnter'}}
    {{action 'onHover' 'brakeBg' '' on='mouseLeave'}}
    {{action 'getVideo' '12'}}></div>
<div class='bearings rear-hub' id='rear-hub'
    {{action 'onHover' 'hubBg' 'Rear Hub' on='mouseEnter'}}
    {{action 'onHover' 'hubBg' '' on='mouseLeave'}}
    {{action 'getVideo' '10'}}></div>
<div class='bearings front-hub' id='front-hub'
    {{action 'onHover' 'hubBg' 'Front Hub' on='mouseEnter'}}
    {{action 'onHover' 'hubBg' '' on='mouseLeave'}}
    {{action 'getVideo' '10'}}></div>
<div class='shifting rear-der' id='rear-der'
    {{action 'onHover' 'rearDerBg' 'Rear Derailleur' on='mouseEnter'}}
    {{action 'onHover' 'rearDerBg' '' on='mouseLeave'}}
    {{action 'getVideo' '9'}}></div>
<div class='shifting front-der' id='front-der'
    {{action 'onHover' 'frontDerBg' 'Front Derailleur' on='mouseEnter'}}
    {{action 'onHover' 'frontDerBg' '' on='mouseLeave'}}
    {{action 'getVideo' '9'}}></div>
<div class='shifting chain-top' id='chain-top'
    {{action 'onHover' 'chainBg' 'Chain' on='mouseEnter'}}
    {{action 'onHover' 'chainBg' '' on='mouseLeave'}}
    {{action 'getVideo' '8'}}></div>
<div class='shifting chain-bottom' id='chain-bottom'
    {{action 'onHover' 'chainBg' 'Chain' on='mouseEnter'}}
    {{action 'onHover' 'chainBg' '' on='mouseLeave'}}
    {{action 'getVideo' '8'}}></div>
<div class='drivetrain pedals' id='pedals'
    {{action 'onHover' 'pedalBg' 'Pedals' on='mouseEnter'}}
    {{action 'onHover' 'pedalBg' '' on='mouseLeave'}}
    {{action 'getVideo' '8'}}></div>
<div class='drivetrain cranks crankarm' id='crankarm'
    {{action 'onHover' 'crankBg' 'Cranks' on='mouseEnter'}}
    {{action 'onHover' 'crankBg' '' on='mouseLeave'}}
    {{action 'getVideo' '8'}}></div>
<div class='drivetrain cranks chainring' id='chainring'
    {{action 'onHover' 'crankBg' 'Cranks' on='mouseEnter'}}
    {{action 'onHover' 'crankBg' '' on='mouseLeave'}}
    {{action 'getVideo' '8'}}></div>
<div class='drivetrain cassette'
    {{action 'onHover' 'cassetteBg' 'Freewheel/Cassette' on='mouseEnter'}}
    {{action 'onHover' 'cassetteBg' '' on='mouseLeave'}}
    {{action 'getVideo' '8'}}></div>
<div class='wheel back-wheel' id='back-wheel'
    {{action 'onHover' 'wheelBg' 'Wheels' on='mouseEnter'}}
    {{action 'onHover' 'wheelBg' '' on='mouseLeave'}}
    {{action 'getVideo' '11'}}></div>
<div class='wheel front-wheel' id='front-wheel'
    {{action 'onHover' 'wheelBg' 'Wheels' on='mouseEnter'}}
    {{action 'onHover' 'wheelBg' '' on='mouseLeave'}}
    {{action 'getVideo' '11'}}></div>
</div>
