
<h4>{{video.title}} </h4>
<h5>This video has been rated? {{video.rated}}</h5>

<iframe class='video-wheel' width="426" height="240" src={{video.url}} frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>

{{#if video.length}}
  {{#if video.one}}
    <h5>Average Rating: {{video.avg}}/5 Rated by {{video.length}} user.</h5>
  {{else}}
    <h5>Average Rating: {{video.avg}}/5 Rated by {{video.length}} users.</h5>
  {{/if}}
  {{else}}
  <h5>This video has not been rated</h5>
{{/if}}

<h4>{{message}}</h4>

{{#if isAuthenticated}}
  {{rating-form video=video change='change' delRate='delRate'}}
{{/if}}
