<iframe class='video-wheel' width="426" height="240" src={{video.url}} frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
{{#if isAuthenticated}}
<form {{action 'change' video on='submit'}}>
  <h4>Rate this video:</h4>
  <ul>
    <li class='rate-btn text-center'>{{input type="radio" name="rating" change=(action (mut rating.rating) '1')}} 1</li>

  <li class='rate-btn text-center'>{{input type="radio" name="rating" change=(action (mut rating.rating) '2')}} 2</li>

    {{!-- for each radio button call an action on change
    mutate 'rating' to have the value of the second argument
    in this case '3' --}}
    <li class='rate-btn text-center'>{{input type="radio" name="rating" change=(action (mut rating.rating) '3')}} 3</li>

    <li class='rate-btn text-center'>{{input type="radio" name="rating" change=(action (mut rating.rating) '4')}} 4</li>

    <li class='rate-btn text-center'>{{input type="radio" name="rating" change=(action (mut rating.rating) '5')}} 5</li>

    <li class='rate-btn text-center'><button class='btn btn-primary' type='submit'>save</button></li>
  </ul>

  </form>
  {{/if}}
{{#if video.length}}
<h5>Rated {{video.avg}}/10 by {{video.length}} ratings.</h5>
{{/if}}
