<iframe class='video-wheel' width="426" height="240" src={{video.url}} frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
{{#if isAuthenticated}}
<form {{action 'change' video on='change'}}>
  <h4>How helpful was this video?</h4>
  <ul>
    <li class='rate-label text-center'>(Not helpful)</li>

    {{!-- for each radio button call an action on change
    mutate 'rating' to have the value of the second argument
    in this case '1' --}}
    <li class='rate-btn text-center'>{{input type="radio" name="rating" change=(action (mut rating.rating) '1')}} 1</li>

    <li class='rate-btn text-center'>{{input type="radio" name="rating" change=(action (mut rating.rating) '2')}} 2</li>

    <li class='rate-btn text-center'>{{input type="radio" name="rating" change=(action (mut rating.rating) '3')}} 3</li>

    <li class='rate-btn text-center'>{{input type="radio" name="rating" change=(action (mut rating.rating) '4')}} 4</li>

    <li class='rate-btn text-center'>{{input type="radio" name="rating" change=(action (mut rating.rating) '5')}} 5</li>

    <li class='rate-btn text-center'>(Very helpful)</li>
  </ul>

  </form>

<button class='btn btn-danger' {{action 'delRate' video on='click'}}>Unrate</button>

  {{/if}}
{{#if video.length}}
<h5>Average Rating: {{video.avg}}/5 Rated by {{video.length}} users.</h5>
{{/if}}
