<nav class="navbar navbar-default">
  <div class="container-fluid">
    {{navbar-header}}

    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown text-muted"><p>
  <button class="btn btn-secondary btn-drop" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    About
  </button>
</p>
<br/>
<div class="collapse" id="collapseExample">
  <div class="card card-body card-drop">
    <p>Shifting Power, Bike Mechanics Training Videos will serve as a comprehensive resource for youth and adults worldwide to learn, and teach, about bicycle mechanics.</p>

  <p>The 14 video series is a collaborative project between staff at the Bikes Not Bombs' (BNB) Bike Shop, International, and Youth Programs. Based on Bikes Not Bombs' youth curriculum and previous mechanics trainings with international partners, the videos are geared towards youth learners and serve as an extensive resource.</p>

  <p>Planning and production of the videos began in late 2014 and culminated in 2015 with a collaborative name choosing process involving staff and stakeholders. After a multi-stage process the name Shifting Power was chosen to highlight the transformation that increased knowledge can have in raising self sufficiency and building the movement of bicycles through self reliant cyclists and empowered mechanics.</p>

  <p>The series is available in both English and Spanish on the Bikes Not Bombs website and is available for downloads.</p>

  <p>www.bikesnotbombs.org</p>
  </div>
</div></li>
        <li class="dropdown text-muted">
          {{!-- <div class="dropdown"> --}}
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Videos
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {{#link-to 'video' 1}}<button class="btn btn-secondary dropdown-item text-muted">Pedals & Cranks</button>{{/link-to}}
    {{#link-to 'video' 2}}<button class="btn btn-secondary dropdown-item text-muted">Front Derailleur</button>{{/link-to}}
    {{#link-to 'video' 3}}<button class="btn btn-secondary dropdown-item text-muted">Bottom Brackets</button>{{/link-to}}
    {{#link-to 'video' 4}}<button class="btn btn-secondary dropdown-item text-muted">Removing Wheels</button>{{/link-to}}
    {{#link-to 'video' 5}}<button class="btn btn-secondary dropdown-item text-muted">Freewheels & Cassettes</button>{{/link-to}}
    {{#link-to 'video' 6}}<button class="btn btn-secondary dropdown-item text-muted">Hubs</button>{{/link-to}}
    {{#link-to 'video' 7}}<button class="btn btn-secondary dropdown-item text-muted">Threaded Headsets</button>{{/link-to}}
    {{#link-to 'video' 8}}<button class="btn btn-secondary dropdown-item text-muted">Cable Systems</button>{{/link-to}}
    {{#link-to 'video' 9}}<button class="btn btn-secondary dropdown-item text-muted">V Brakes</button>{{/link-to}}
    {{#link-to 'video' 10}}<button class="btn btn-secondary dropdown-item text-muted">Threadless Headsets</button>{{/link-to}}
    {{#link-to 'video' 11}}<button class="btn btn-secondary dropdown-item text-muted">Chains</button>{{/link-to}}
    {{#link-to 'video' 12}}<button class="btn btn-secondary dropdown-item text-muted">Truing Wheels</button>{{/link-to}}
    {{#link-to 'video' 13}}<button class="btn btn-secondary dropdown-item text-muted">Cantilever Brakes</button>{{/link-to}}
    {{#link-to 'video' 14}}<button class="btn btn-secondary dropdown-item text-muted">Rear Derailleurs</button>{{/link-to}}
  </div>
{{!-- </div> --}}
          </li>

          {{#if isAuthenticated}}

        <li>{{#link-to "change-password"}}<button class="btn btn-secondary">Change Password</button>{{/link-to}}</li>
        <li><a href="#" {{action "signOut"}}><button class="btn btn-secondary">Sign Out</button></a></li>

        {{else}}

        <li>{{#link-to "sign-up"}}<button class="btn btn-secondary">Sign Up</button>{{/link-to}}</li>
        <li>{{#link-to "sign-in"}}<button class="btn btn-secondary">Sign In</button>{{/link-to}}</li>

        {{/if}}

      </ul>
    </div>
  </div>
</nav>

<h1 class='text-center sp-title'>SHIFTING POWER</h1>

{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

{{!-- <div class="col-md-8 col-md-offset-2">
  {{outlet}}
</div> --}}
