<h1>{{model.name}}</h1>
{{log "model is " model}}
{{#each model.videos as |video|}}
{{log "video is " video}}
{{log "ratings is " video.ratings}}
  <h3>{{video.title}} </h3>
  {{featured-video url=video.url}}
  {{#each video.ratings as |vid|}}
  <h5>hi</h5>
  {{/each}}
{{/each}}
